.heading-main{
    color: #000;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.boxes {
    background-color: #f5f6f7;
    width: max-content;
}

.starts-heading{
    display: flex;
    justify-content: space-between;
}

.paragraph-alignment{
    text-align: center;
}

.heading-small {
    font-size: 15px;
}